{% extends "AcmeRentacarBundle::base.html.twig" %}

{% block page_title '予約/オプション選択' %}
{% set menu = 'reservation' %}

{% block content %}

  <fieldset>
    <legend>オプション</legend>
    <div class="control-group">
      <label class="control-label">免責補償</label>
      <div class="controls">
        <label class="checkbox">免責補償をつける</label>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">備考（任意）</label>
      <div class="controls">
      </div>
    </div>
    <div class="form-actions">

      <form action="{{ path('reservation_option') }}" method="post">
        <div class="form-actions">
          <button class="btn btn-primary">予約内容を確認する</button>
        </div>
      </form>


    </div>
  </fieldset>
{% endblock %}
